#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.formulario {
  padding: 1rem 0 1rem 0;

}

.form-group{
  padding: 1rem 0 0 0;
  
}

.card {
  padding: 1em 1em 0 1em;
  font-size: large;
}
